[Unit]
Description=Alle 3 Minuten nach einem neuen Website-Image sehen

[Timer]
OnBootSec=2min
OnUnitActiveSec=3min
Persistent=true

[Install]
WantedBy=timers.target
